@import "../variables.scss";

.menu {
  width: 200px;

  background: $white;
  border: 1px solid $gray-200;
  box-shadow: 0 8px 10px rgba(82, 97, 119, 0.16);
  border-radius: 4px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.close {
  display: none;
}

.menu > * + * {
  border-top: 1px solid $gray-200;
}

.menuItem {
  padding: 12px 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  cursor: pointer;

  &:focus {
    outline: none;
    background: $gray-100;
  }
}

.normal {
  color: $gray-700;
}

.danger {
  color: $red-600;
}

.checkboxItem {
  padding: 11px 12px;

  &:focus {
    outline: none;
    background: $gray-100;
  }
}

.checkbox {
  opacity: 0;
  width: 0;
  margin: 0;
}