@import "../variables.scss";

.container {
  width: 200px;
  position: relative;
}

.selectButton {
  width: 100%;
  padding: 8px 8px 8px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: none;
  background: $gray-100;
  border-radius: 4px;

  color: $gray-700;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.menu {
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
}