@import "../variables.scss";

.container {
  color: $gray-700;
  letter-spacing: -0.02em;
  font-size: 14px;
  outline: none;

  .label {
    height: 18px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  &.right {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    .label {
      margin: 0;
      padding-left: 10px;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.disabled {
  color: $gray-400;
}
